# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Generated processed data
data/processed/

# Python cache / tooling
.pytest_cache/
.mypy_cache/
